.head1{
  height: 150px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head2{
  height: 150px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head3{
  height: 150px;
  width: 30%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color:#561d1f;
}
.icn{
  margin-left: 5%;
  color:#ffd9a7;
}
.icn1{
  margin-left: 5%;
  color:#ffd9a7;
  display: none;
}

.subhead{
  height: 40px;
  width: 100%;
  background-color:white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
}
.subhead2{
  height: 250px;
  width: 100%;
  background-color:rgb(243, 46, 46);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}

.itemdiv{
  height: 500px;
  width:22%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}




@media only screen and (max-width: 600px) {
  .head2{
    height: 150px;
    width: 40%;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .head1{
    height: 150px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .head3{
    height: 150px;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
  }
  .icn1{
    margin-left: 5%;
    color: white;
    display: block;
  }

  
.subhead{
  display: none;
}

.subhead2{
  height: 250px;
  width: 100%;
  background-color:rgb(243, 46, 46);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}

.itemdiv{
  height: 350px;
  width:45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
}
.divbada:hover{
  scale: 1.1;
  transition: 0.5s;
}





















.labelname{
  font-size: 10px;
  font-weight: bold;
  color: #561d1f;
}
.footermain{
  height: 550px;
  width: 100%;
  background-color: #561d1f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.divfooter{
  height: 400px;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.loginmain{
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  
}
.logindiv{
  height: 550px;
  width: 35%;
  
}
.sign{
  height: 35px;
  width: 450px;
  margin-left: 25px;
  margin-top: 40px;
}
.sign:hover{
  background-color: #561d1f;
  color: white;
  scale: 1.1;
  transition: 0.5s;
}
.createmain{
  height: 650px;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;

}
.creatediv{
  height: 600px;
  width: 500px;
  
  
}
.createbutton{
  height: 30px;
  width: 450px;
  margin-left: 10PX;
  

}
.createbutton:hover{
  background-color: #561d1f;
  color: white;
  transition: 0.5s;

  scale: 1.1;
  
}
.newarrivals{
  height: 70px;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemdivmain{
  min-height: 500px;
  width: 100%;
  
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;

}

.fontsize{
  font-size: 13px;
  color: #472538;
}
.buttonsize{
  margin-left: 10px;
  font-weight:bold ;
  color: black;
  height: 35px;
  width: 40px;
}
.buttonsize:hover{
  background-color: #561d1f !important;
  scale: 1.1 !important;
  color: #f5daa6 !important;
}
.pressbutton:hover{
  scale: 1.1;
}
.emailtick:hover{
  background-color:#0075ff ;
  
}
.icondivadminbar{
  
  height:60px;
  width:20%;

display: flex;
align-items: center;
justify-content: space-evenly;
font-size: 25px;
color: #dab08b;

  
}
.divcontent{
  height: 60px;
  width: 80%;
  
  color: #dab08b;
  font-size: 17px;
}
.admindivicon{
  
height: 57px;
width:17%;
margin:30px;
background-color:#561d1f;
border-radius: 50px;

display: flex;
justify-content: space-evenly;
align-items: center;



  }
  .line:hover{
    text-decoration: underline;
  }
  .adminbuttonsubmit:hover{
    background-color: #561d1f !important;
    color: #e6bd94;
    font-weight: 300;
  }

body{
  padding: 0px;
  margin: 0px;
  font-family: Nunito Sans,sans-serif;

  
}